:root {
  --main-nav-height: 90px;
  --section-stack-gutter: 120px;
  --common-border-radius: 6px;
  --main-banner-wave-animation-duration: 5s;
  --project-theme-color: #{$white};
  --grid-custom-gap: 16px;
}
