.card-project {
  .card-body {
    padding: 32px 0 0 0;
  }
}

.card-category {
  --#{$prefix}card-border-radius: 48px;
  --#{$prefix}card-spacer-y: 40px;
  --#{$prefix}card-spacer-x: 40px;
  overflow: hidden;

  .card-body {
    min-height: 500px;
  }

  &--thumb {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.1fr);
  }
}
