.projects-slider {
  display: grid;

  gap: 32px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-columns: minmax(0, 1fr);
}

.cards-wrapper {
  display: grid;

  gap: 32px;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
}
