.section-404 {
    position: relative;
    overflow: hidden;

    &-content {
        min-height: calc(100vh - var(--main-nav-height));

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 40px;
        @include media-breakpoint-up(xxl) {
            padding-top: 80px;
        }

        .img-400-illustration {
            width: 100%;
            max-width: 400px;
            height: auto;

            @include media-breakpoint-up(sm) {
                max-width: 500px;
            }
            @include media-breakpoint-up(xxl) {
                max-width: 700px;
            }
        }

        .text-wrapper {
            max-width: 600px;
            margin-top: 24px;

            @include media-breakpoint-up(md) {
                margin-top: 40px;
            }
            @include media-breakpoint-up(xxl) {
                margin-top: 56px;
            }

            p {
                margin: 0;
                text-align: center;
            }
        }

        .buttons-wrapper {
            margin-top: 24px;

            @include media-breakpoint-up(md) {
                margin-top: 32px;
            }
            @include media-breakpoint-up(xxl) {
                margin-top: 40px;
            }

            a.btn {
                flex: 1;
            }
        }

        .text-wrapper,
        .buttons-wrapper {
            z-index: 10;
        }
    }

    .wave-404 {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 100%;
        height: auto;

        user-select: none;
        transform: translateX(-50%);
        pointer-events: none;

        @include media-breakpoint-down(lg) {
            width: calc($container-full-max-width / 2);
        }

        path {
            transition: d linear var(--wave-animation-duration);
        }

        &.wave-1 {
            z-index: 2;
            &.animate {
                path {
                    d: path(
                        "M0 70.0001C487 247.5 694 -3.23187e-07 950.5 0C1207 3.23187e-07 1470 256.5 1920 69.0001C1920 171 1920 262 1920 262H0C0 262 1.28746e-05 186.5 0 70.0001Z"
                    );
                }
            }
        }

        &.wave-2 {
            z-index: 1;
            &.animate {
                path {
                    d: path(
                        "M0 52.9998C326.5 -86.5 631.5 165.5 949.5 165.5C1252 165.5 1480 -110 1920 51.9998C1920 154 1920 245 1920 245H0C0 245 1.28746e-05 169.5 0 52.9998Z"
                    );
                }
            }
        }
    }
}
