:root {
  --decoration-icon-width: 1em;
  --icon-color: currentColor;
  --icon-size: 1em;
}

.icon {
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);

  color: var(--icon-color);
}

.decoration-icon {
  position: absolute;
  width: var(--decoration-icon-width);
  height: var(--decoration-icon-height, var(--decoration-icon-width));

  pointer-events: none;
}
