.main-banner-wrapper {
  overflow-x: clip;
}

.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding-top: calc(var(--main-nav-height) + 64px);

  justify-content: center;

  &__decorations {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;

    transform: translateX(-50%);

    pointer-events: none;
  }

  &__content {
    position: relative;
    margin-bottom: calc(5.9259vh + var(--main-nav-height));
  }
}
