.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding-top: calc(var(--main-nav-height) + 64px);
  padding-bottom: 64px;
  overflow-x: clip;

  justify-content: center;

  &__decorations {
    position: absolute;
    top: 0;
    left: 50%;
    width: map-get($container-max-widths, xxl);
    height: 100%;
    z-index: -1;

    transform: translateX(-50%);

    pointer-events: none;
  }

  &__content {
    margin-bottom: 5.9259vh;
  }
}
