.main-banner-wrapper {
  overflow-x: clip;
}

.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: calc(100vh - var(--main-nav-height));
  padding-top: 64px;

  justify-content: center;

  .decoration-columns {
    top: calc(-1 * var(--main-nav-height));
    height: calc(100% + var(--main-nav-height));
  }

  &__content {
    position: relative;
    margin-bottom: calc(5.9259vh + var(--main-nav-height));
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 24px;
    left: 50%;

    transform: translateX(-50%);

    justify-content: center;
  }
}
