html,
body {
  font-family: "Almarai", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;
  padding: 0;

  color: $black;
}

// Transition

.remove-transition-md {
  @include media-breakpoint-down(lg) {
    transition: none !important;
  }
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: $light-primary;
  border-left: 1px solid $darker-light-primary;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}
